/**/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,
body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: whitesmoke;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.longread {
	align-self: center;

	display: flex;
	flex-direction: column;

	width: 960px;

	padding-left: 72px;
	padding-right: 72px;

	border: 1px solid grey;

	text-align: justify;

	font-family: monospace;
	font-size: 16px;
}

h1.main-header {}

.longread p {
	display: flex;
	padding-top: 16px;
}

.source-code {
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 16px;
	padding-bottom: 32px;
	background-color: darkolivegreen;
	color: whitesmoke;
	font-family: monospace;
}


/*  */

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.justify-center {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.fs-72 {
	font-size: 72px;
}

.m-tb-32px {
	margin-top: 32px;
	margin-bottom: 32px;
}

.m-tb-64px {
	margin-top: 64px;
	margin-bottom: 64px;
}

.mt-64px {
	margin-top: 64px;
}

.mb-32px {
	margin-bottom: 32px;
}

.pt-16 {
	padding-top: 16px;
}

.pb-16 {
	padding-bottom: 16px;
}


/* Aux */

.rd {
	border: 1px dotted red;
}