
* 
{ margin:         0px;
  padding:        0px;
  border-width:   0px; }

html, body
  { width: 100%;
    height: 100%;
    background-color: red; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pre-line {
  white-space: pre-line;
}

#root
  { height: 100%; }

#leftpane
  { box-sizing: border-box;
    height: 100%;
    overflow:   auto;

    font-size:  14px;
 
    padding: 8px;
    border: 8px solid;
    border-color: lightgray;
    color:  rgb(218, 252, 218);
    background-color: rgb(11, 15, 1);
    }

#fsmlogo
  { text-align: center;
    font-size:  14px; }

#fsmlog
  { font-size:  14px; }

#inbox 
  { width: 100%;
    padding-bottom: 14px;
    outline: none;
    border-style:   hidden;
    border-width:   0px;
    font-size:  14px;
    color:  rgb(218, 252, 218);
    background-color: rgb(11, 15, 1); }

#inputform, #prompt
  { float: left; }    

#prompt
  { padding-right: 8px; }